<section class="container mx-auto h-fit mb-10 lg:flex lg:justify-between lg:items-start xl:justify-center xl:gap-16">
    <div class="hidden lg:block lg:w-[400px] lg:h-[600px] lg:rounded-2xl xl:w-[600px]">
        <img class="w-full h-full object-cover object-center lg:rounded-2xl" src="{% if section.settings.choose_image_id %}
            {{ section.settings.choose_image_id |  image_url: width:full  }}
            {% else %}
            {{ 'collection-1.svg' |  asset_url  }}
        {% endif %}" alt="">
    </div>
    <div class="w-full flex justify-center items-center flex-col gap-4 lg:w-[500px] ">
        <h3 class="text-2xl font-semibold text-black w-full  my-4 lg:text-start lg:text-4xl lg:my-0">
            {{ section.settings.choose_title_id }}
        </h3>
        <div class="flex justify-center items-center flex-col gap-4 sm:flex-row sm:flex-wrap sm:w-full">
            {% if section.blocks.size != 1 %}
                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                    {% render 'phone-icon' %}
                    <h4 class="text-xl black font-medium text-center">Extreme testing</h4>
                    <p class="text-center text-gray-500">
                        We test our products to the absolute max so they always perform as promised.
                    </p>
                </div>
                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                    {% render 'phone-icon' %}
                    <h4 class="text-xl black font-medium text-center">Extreme testing</h4>
                    <p class="text-center text-gray-500">
                        We test our products to the absolute max so they always perform as promised.
                    </p>
                </div>
                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                    {% render 'phone-icon' %}
                    <h4 class="text-xl black font-medium text-center">Extreme testing</h4>
                    <p class="text-center text-gray-500">
                        We test our products to the absolute max so they always perform as promised.
                    </p>
                </div>
                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                    {% render 'phone-icon' %}
                    <h4 class="text-xl black font-medium text-center">Extreme testing</h4>
                    <p class="text-center text-gray-500">
                        We test our products to the absolute max so they always perform as promised.
                    </p>
                </div>
                {% else %}
                    {% for card in section.blocks %}
                        {% case card.type %}
                            {% when "four_cards" %}
                                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                                    {% if card.settings.card_svg_icon_first != blank %}
                                        {{ card.settings.card_svg_icon_first }}
                                        {% else %}
                                        {% render 'phone-icon' %}
                                    {% endif %}
                                    <h4 class="text-xl black font-medium text-center">
                                        {% if card.settings.card_text_first != blank %}
                                            {{ card.settings.card_text_first }}
                                            {% else %}
                                            Extreme testing
                                        {% endif %}
                                    </h4>
                                    <p class="text-center text-gray-500">
                                       {% if card.settings.card_textarea_first != blank %}
                                            {{ card.settings.card_textarea_first }}
                                            {% else %}
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sequi sed adipisci ullam deleniti architecto.
                                       {% endif %}
                                    </p>
                                </div>       
                                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                                    {% if card.settings.card_svg_icon_second != blank %}
                                        {{ card.settings.card_svg_icon_second }}
                                        {% else %}
                                        {% render 'phone-icon' %}
                                    {% endif %}
                                    <h4 class="text-xl black font-medium text-center">
                                        {% if card.settings.card_text_second != blank %}
                                            {{ card.settings.card_text_second }}
                                            {% else %}
                                            Extreme testing
                                        {% endif %}
                                    </h4>
                                    <p class="text-center text-gray-500">
                                       {% if card.settings.card_textarea_second != blank %}
                                            {{ card.settings.card_textarea_second }}
                                            {% else %}
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sequi sed adipisci ullam deleniti architecto.
                                       {% endif %}
                                    </p>
                                </div>      
                                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                                    {% if card.settings.card_svg_icon_third != blank %}
                                        {{ card.settings.card_svg_icon_third }}
                                        {% else %}
                                        {% render 'phone-icon' %}
                                    {% endif %}
                                    <h4 class="text-xl black font-medium text-center">
                                        {% if card.settings.card_text_third != blank %}
                                            {{ card.settings.card_text_third }}
                                            {% else %}
                                            Extreme testing
                                        {% endif %}
                                    </h4>
                                    <p class="text-center text-gray-500">
                                       {% if card.settings.card_textarea_third != blank %}
                                            {{ card.settings.card_textarea_third }}
                                            {% else %}
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sequi sed adipisci ullam deleniti architecto.
                                       {% endif %}
                                    </p>
                                </div>       
                                <div class="flex justify-center items-center gap-4 px-2  rounded-2xl flex-col py-5 mx-4 shadow-md sm:mx-0 sm:max-w-[290px] md:max-w-[350px] lg:max-w-[225px] lg:mx-0 lg:justify-start">
                                    {% if card.settings.card_svg_icon_fourth != blank %}
                                        {{ card.settings.card_svg_icon_fourth }}
                                        {% else %}
                                        {% render 'phone-icon' %}
                                    {% endif %}
                                    <h4 class="text-xl black font-medium text-center">
                                        {% if card.settings.card_text_fourth != blank %}
                                            {{ card.settings.card_text_fourth }}
                                            {% else %}
                                            Extreme testing
                                        {% endif %}
                                    </h4>
                                    <p class="text-center text-gray-500">
                                       {% if card.settings.card_textarea_fourth != blank %}
                                            {{ card.settings.card_textarea_fourth }}
                                            {% else %}
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sequi sed adipisci ullam deleniti architecto.
                                       {% endif %}
                                    </p>
                                </div>        
                        {% endcase %}
                    {% endfor %}                
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Choose",
    "settings": [
        {
            "type": "image_picker",
            "id": "choose_image_id",
            "label": "Choose the Image"
        },
        {
            "type": "text",
            "id": "choose_title_id",
            "label": "Choose the Title",
            "default": "Why Us"
        }
    ],
    "blocks": [
        {
            "name": "Four Cards",
            "type": "four_cards",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "First Card Content"
                },
                {
                    "type": "html",
                    "id": "card_svg_icon_first",
                    "label": "Add Your First Icon",
                    "info": "Copy and past your svg icon here"
                },
                {
                    "type": "text",
                    "id": "card_text_first",
                    "label": "Add Your Title",
                    "placeholder": "Testing"
                },
                {
                    "type": "textarea",
                    "id": "card_textarea_first",
                    "label": "Add Your Description Here"
                },
                {
                    "type": "header",
                    "content": "Second Card Content"
                },
                {
                    "type": "html",
                    "id": "card_svg_icon_second",
                    "label": "Add Your Second Icon",
                    "info": "Copy and past your svg icon here"
                },
                {
                    "type": "text",
                    "id": "card_text_second",
                    "label": "Add Your Second Title",
                    "placeholder": "Testing"
                },
                {
                    "type": "textarea",
                    "id": "card_textarea_second",
                    "label": "Add Your Second Description Here"
                },
                {
                    "type": "header",
                    "content": "Third Card Content"
                },
                {
                    "type": "html",
                    "id": "card_svg_icon_third",
                    "label": "Add Your Third Icon",
                    "info": "Copy and past your svg icon here"
                },
                {
                    "type": "text",
                    "id": "card_text_third",
                    "label": "Add Your Third Title",
                    "placeholder": "Testing"
                },
                {
                    "type": "textarea",
                    "id": "card_textarea_third",
                    "label": "Add Your Third Description Here"
                },
                {
                    "type": "header",
                    "content": "Fourth Card Content"
                },
                {
                    "type": "html",
                    "id": "card_svg_icon_fourth",
                    "label": "Add Your Fourth Icon",
                    "info": "Copy and past your svg icon here"
                },
                {
                    "type": "text",
                    "id": "card_text_fourth",
                    "label": "Add Your Fourth Title",
                    "placeholder": "Testing"
                },
                {
                    "type": "textarea",
                    "id": "card_textarea_fourth",
                    "label": "Add Your Fourth Description Here"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Choose"
        }
    ]
}
{% endschema %}