<section  class="container mx-auto px-4 my-5">
    <div class="flex justify-between items-center mb-5">
        <div class="h-[38px]">
            <h3 class="text-2xl text-black font-semibold">Our Favourites</h3>
        </div>
        <div class="hidden">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
            <span class="material-symbols-outlined">
                arrow_forward
            </span>
        </div>
    </div>
    <div class="w-full flex justify-start items-center overflow-x-auto">
        {% comment %} Product go here {% endcomment %}
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
        <div class="border bg-gray-50 mr-4  min-w-[223px] h-[434px] flex justify-around items-center flex-col px-4 rounded-2xl">
            <img width="193" height="193"  class="w-full object-cover object-center" src="{{ 'product-1.svg' |  asset_url }}" alt="product">
            <h3 class="text-center text-lg font-semibold text-black">Extreme Commuter Backpack</h3>
            <p class="text-center text-base font-normal text-gray-500">From $229.99</p>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Favourites Product",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Favourites Product",
            "settings": {}
        }
    ]
}
{% endschema %}