<section class="container mx-auto px-4  mb-5 mt-5">
    <div class="lg:flex lg:justify-between lg:items-center">
        <div class="h-[38px]">
            <h3 class="text-2xl text-black font-semibold">Our Favourites</h3>
        </div>
        <div class="hidden lg:flex lg:justify-center md:items-center gap-3">
            <span class="material-symbols-outlined w-8 h-8 rounded-full bg-gray-300 text-gray-500 flex justify-center items-center cursor-pointer">
                arrow_back
            </span>
            <span class="material-symbols-outlined w-8 h-8 rounded-full bg-gray-300 text-gray-500 flex justify-center items-center cursor-pointer">
                arrow_forward
            </span>
        </div>
    </div>
</section>
<section class="w-full  h-fit bg-gray-50 mb-5 py-10 overflow-hidden">
    <div class="container mx-auto h-fit flex justify-start items-center gap-4 overflow-x-scroll">   
        {% comment %} Product go here {% endcomment %}
        {% if section.settings.product_list != blank %}
            {% for product in section.settings.product_list %} 
            <div class="min-w-[300px] rounded-2xl border h-[550px] max-w-[300px] hover:shadow-xl mb-5">
                <img class="block w-full h-[300px]  rounded-2xl object-cover object-center" src="{%- if product.featured_image -%}{{ product.featured_image |  image_url: width:master }}{%- else -%}{{ 'collection-2.svg' |  asset_url }} {%- endif -%}" alt="">
                <div style="background-color: " class="h-[200px]  flex justify-center items-center flex-col rounded-b-2xl my-2">
                    <h3 style="color:" class="text-lg font-semibold text-center my-1 px-2">
                        {{ product.title |  truncate: 70 }}
                    </h3>
                    <p style="color: " class="text-base font-normal text-center mb-3 px-1 line-through">
                        {{ product.compare_at_price |  money }}
                    </p>
                    <p style="color: " class="text-base font-normal text-center mb-3 px-1">
                        {{ product.price |  money }}
                    </p>
                    <button class="py-2 px-4 rounded-lg bg-black text-white">                
                        <a href="#">
                            Add To Card
                        </a>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% assign productNames = "product-1.svg,product-2.svg,product-3.svg,product-4.svg,product-5.svg,product-6.svg," |  split: "," %}
            {% for productName in productNames %}
            <div class="min-w-[300px] rounded-2xl border h-[550px] max-w-[300px] hover:shadow-xl mb-5">
                <img class="block w-full h-[300px]  rounded-2xl object-cover object-center" src="{{ productName |  asset_url }}" alt="{{ productName }}">
                <div style="background-color: " class="h-[200px]  flex justify-center items-center flex-col rounded-b-2xl my-2">
                    <h3 style="color:" class="text-xl font-semibold text-center my-1 px-4">
                        {{ productName |  replace: '.svg', "" |  capitalize  }}
                    </h3>
                    <p style="color: " class="text-base font-normal text-center mb-3 px-1 line-through">
                        299
                    </p>
                    <p style="color: " class="text-base font-normal text-center mb-3 px-1">
                        199
                    </p>
                    <button class="py-2 px-4 rounded-lg bg-black text-white">                
                        <a href="#">
                            Add To Card
                        </a>
                    </button>
                </div>
            </div>  
            {% endfor %} 
        {% endif %}
    </div>
</section>

{% schema %}
{
    "name": "Favourites Product",
    "settings": [
        {
            "type": "header",
            "content": "Add Your Product List.",
            "info": "The limit is fixed to 12 products"
        },
        {
            "type": "product_list",
            "id": "product_list",
            "label": "Products",
            "limit": 12
        }
    ],
    "presets": [
        {
            "name": "Favourites Product",
            "settings": {}
        }
    ]
}
{% endschema %}