<section  class="featured_collection w-full h-full py-5 my-5">
  <div class="container mx-auto h-fit">
    <div class="grid gap-4 grid-cols-2 grid-rows-2 sm:grid-cols-3 lg:grid-cols-6 lg:grid-rows-1 lg:gap-3">
      {% if section.settings.collection_list != blank %}
        {% for collection in section.settings.collection_list %}
          <a class="rounded-3xl flex justify-between items-center flex-col w-full" href="{{ collection.url }}">
            <img class="w-full h-full object-cover object-center rounded-3xl {% if section.settings.featured_collection_shadow_checkbox_id %} shadow-{{ section.settings.featured_collection_shadow_id }} {% endif %} {% if section.settings.featured_collection_shadow_hover_checkbox_id %} lg:hover:shadow-{{ section.settings.featured_collection_shadow_hover_id }} {% endif %}"  src="{{ collection.featured_image |  image_url: width:300  }}" alt="{{ collection.title }}">
            <p class="text-center mt-3 text-base text-gray-500 font-normal">{{ collection.title }}</p>
          </a>
        {% endfor %}
        {% else %}
        {% assign emptyFeacturedCollections = "product-1.svg, product-2.svg, product-3.svg, product-4.svg, product-5.svg, product-6.svg" |  split: "," %}
          {% for emptyFeacturedCollection in emptyFeacturedCollections %}
            <a class="border rounded-3xl flex justify-between items-center flex-col w-full" href="{{ collection.url }}">
              <img class="w-full h-full object-cover shadow-sm object-center rounded-3xl  lg:hover:shadow-xl"  src="{{ emptyFeacturedCollection |  asset_url  }}" alt="{{ collection.title }}">
            </a>
          {% endfor %}
      {% endif% %}
    </div>  
  </div>
</section>
<style>
  .featured_collection{
    background-color: {{ section.settings.featured_collection_background_id }};
  }
</style>
{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Choose 6 Collections in the List",
      "info": "You Must choose 6 collections in the collectins list"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 6
    },
    {
      "type": "header",
      "content": "Featured Colleaction Background Color",
      "info": "Chose the Featured Colleaction Collor. By Default is set to white"
    },
    {
      "type": "color",
      "id": "featured_collection_background_id",
      "label": "Featured Collection Background",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Activate Shadow on Collection box?",
      "info": "Check and select your level of shadow."
    },
    {
      "type": "checkbox",
      "id": "featured_collection_shadow_checkbox_id",
      "label": "Activate Shadow on Collections?",
      "default": false
    },
    {
      "type": "select",
      "id": "featured_collection_shadow_id",
      "label": "Shadow",
      "options": [
        {
          "value": "sm",
          "label": "Shadow Small"
        },
        {
          "value": "md",
          "label": "Shadow Medium"
        },
        {
          "value": "lg",
          "label": "Shadow Large"
        },
        {
          "value": "xl",
          "label": "Shadow Extra Large"
        },
        {
          "value": "2xl",
          "label": "Shadow 2x Extra Large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "checkbox",
      "id": "featured_collection_shadow_hover_checkbox_id",
      "label": "Activate Shadow on Hover For Collections?",
      "default": false
    },
    {
      "type": "select",
      "id": "featured_collection_shadow_hover_id",
      "label": "Shadow Hover",
      "options": [
        {
          "value": "sm",
          "label": "Shadow Small"
        },
        {
          "value": "md",
          "label": "Shadow Medium"
        },
        {
          "value": "lg",
          "label": "Shadow Large"
        },
        {
          "value": "xl",
          "label": "Shadow Extra Large"
        },
        {
          "value": "2xl",
          "label": "Shadow 2x Extra Large"
        }
      ],
      "default": "sm"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
