<footer class="w-full h-fit">
  <div class="container mx-auto h-full py-10">
      {% comment %} footer upper {% endcomment %}
      <div class="block h-fit sm:flex sm:justify-center sm:items-start sm:flex-wrap sm:w-full sm:gap-2 lg:gap-0 lg:justify-between">
        {% if section.blocks.size == 1 or section.blocks.size > 1 %}
          {% for footer_block in section.blocks %}
            {% case footer_block.type %}
              {% when 'form_info' %}              
              <div class="w-full h-fit py-4 flex justify-center items-center flex-col gap-12 mb-3 lg:w-[300px]">
                <h4 class="text-xl font-medium text-black">
                  {% if footer_block.settings.footer_text %}
                    {{ footer_block.settings.footer_text }}
                    {% else %}
                    Join our global community                
                  {% endif %}
                </h4>
                <p class="text-sm font-normal text-gray-400 text-center mx-4 sm:mx-10">
                  {% if footer_block.settings.footer_description %}
                    {{ footer_block.settings.footer_description }}
                    {% else %}
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi necessitatibus ducimus voluptatum eaque    
                  {% endif %}
                </p>
                <div class="w-[300px] h-[78px] flex justify-center items-center sm:w-[500px] lg:w-[300px]">
                  <input class="w-[190px] py-2 border bg-white px-2 rounded-l-lg sm:w-[390px] lg:w-[190px]" placeholder="Email" type="email" name="email">
                  <button class="w-[100px] bg-blue-500 text-white py-2 rounded-r-lg ">Sign Up</button>
                </div>
              </div>
              {% when 'footer_nav' %}
                <div class="py-4 mb-3 flex flex-col justify-center items-center gap-4 sm:w-[300px] sm:mb-0 lg:w-[200px]">
                  <h5 class="text-base text-black font-semibold uppercase">
                    {{ footer_block.settings.footer_nav_heading }}
                  </h5>
                  <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="{{ footer_block.settings.footer_sub_menu_url_one_id }}">
                    {{ footer_block.settings.footer_sub_menu_one_id }}
                  </a>
                  <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="{{ footer_block.settings.footer_sub_menu_url_two_id }}">
                    {{ footer_block.settings.footer_sub_menu_two_id }}
                  </a>
                  <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="{{ footer_block.settings.footer_sub_menu_url_three_id }}">
                    {{ footer_block.settings.footer_sub_menu_three_id }}
                  </a>
                  <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="{{ footer_block.settings.footer_sub_menu_url_four_id }}">
                    {{ footer_block.settings.footer_sub_menu_four_id }}
                  </a>
                  <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="{{ footer_block.settings.footer_sub_menu_url_five_id }}">
                    {{ footer_block.settings.footer_sub_menu_five_id }}
                  </a>
                </div>
            {% endcase %}
          {% endfor %}
          {% else %}
          <div class="w-full h-fit py-4 flex justify-center items-center flex-col gap-12 mb-3 lg:w-[300px]">
            <h4 class="text-xl font-medium text-black">
              Join our global community                
            </h4>
            <p class="text-sm font-normal text-gray-400 text-center mx-4 sm:mx-10">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi necessitatibus ducimus voluptatum eaque 
            </p>
            <div class="w-[300px] h-[78px] flex justify-center items-center sm:w-[500px] lg:w-[300px]">
              <input class="w-[190px] py-2 border bg-white px-2 rounded-l-lg sm:w-[390px] lg:w-[190px]" placeholder="Email" type="email" name="email">
              <button class="w-[100px] bg-blue-500 text-white py-2 rounded-r-lg ">Sign Up</button>
            </div>
          </div>
          <div class="py-4 mb-3 flex flex-col justify-center items-center gap-4 sm:w-[300px] sm:mb-0 lg:w-[200px]">
            <h5 class="text-base text-black font-semibold uppercase">About Us</h5>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Our Story</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Our Blog</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">AirShock</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">AirFoam</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Mous + <br> Magnets</a>
          </div>
          <div class="py-4 mb-3 flex flex-col justify-center items-center gap-4 sm:w-[300px] sm:mb-0 lg:w-[200px]">
            <h5 class="text-base text-black font-semibold uppercase">Need Help?</h5>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Contact and FAQs</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Shipping and Returns</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Reviews</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Warranty</a>
          </div>
          <div class="py-4 mb-3 flex flex-col justify-center items-center gap-4 sm:w-[300px] sm:mb-0 lg:w-[200px]">
            <h5 class="text-base text-black font-semibold uppercase">Extras</h5>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">E-Gift Cards</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Product Tutorials</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Refer a friend</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Student Discount</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">Sitemap</a>
          </div>
          <div class="py-4 mb-3 flex flex-col justify-center items-center gap-4 sm:w-[300px] sm:mb-0 lg:w-[200px]">
            <h5 class="text-base text-black font-semibold uppercase">Iphone cases</h5>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">MagSafe® Compatible</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">iPhone 15 Cases</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">iPhone 14 Cases</a>
            <a class="text-sm text-gray-400 font-light hover:underline block lg:text-base lg:px-2 lg:text-center" href="#">iPhone 13 Cases</a>
          </div>
        {% endif %}
      </div>
      <hr class="my-14">
      {% comment %} footer middle {% endcomment %}
      <div class="w-full h-fit flex justify-center items-center flex-col-reverse">
        <div class="">
          <span class="block px-4 text-black font-semibold text-center mb-5">{{ now | date: "%Y" }} {{ section.settings.text_footer_subbottom }}. All right reserved.</span>
          <div class="sm:flex sm:justify-center sm:items-center sm:gap-5">
            <a class="block text-black font-normal text-center mb-3" href="{{ subbottom_footer_title_one_url_id }}">
              {{ section.settings.subbottom_footer_title_one_id }}
            </a>
            <a class="block text-black font-normal text-center mb-3" href="{{ section.settings.subbottom_footer_title_two_url_id }}">
              {{ section.settings.subbottom_footer_title_two_id }}
            </a>
            <a class="block text-black font-normal text-center mb-3" href="{{ section.settings.subbottom_footer_title_three_url_id }}">
              {{ section.settings.subbottom_footer_title_three_id }}
            </a>
          </div>
        </div>
        <div class="w-[200px] flex justify-center items-center mb-8 gap-4">
          {% for block_icons in section.blocks %}
            {% case block_icons.type %}
              {% when "footer_icons" %}                   
              {% if block_icons.settings.footer_icons_text_id == "facebook" %}
                <a class="block" href="{{ block_icons.settings.footer_icons_id }}">
                  {% render 'icon-facebook' %}
                </a>
              {% endif %}
              {% if block_icons.settings.footer_icons_text_id == "twitter" %}
                <a class="block" href="{{ block_icons.settings.footer_icons_id }}">
                  {% render 'icon-twitter' %}
                </a>
              {% endif %}
              {% if block_icons.settings.footer_icons_text_id == "instagram" %}
                <a class="block" href="{{ block_icons.settings.footer_icons_id }}">
                  {% render 'icon-instagram' %}
                </a>
              {% endif %}
              {% if block_icons.settings.footer_icons_text_id == "tiktok" %}
                <a class="block" href="{{ block_icons.settings.footer_icons_id }}">
                  {% render 'icon-tiktok' %}
                </a>
              {% endif %}
              {% if block_icons.settings.footer_icons_text_id == "pinterest" %}
                <a class="block" href="{{ block_icons.settings.footer_icons_id }}">
                  {% render 'icon-pinterest' %}
                </a>
              {% endif %}
          {% endcase %}
          {% endfor %}
        </div>
      </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "PRIVACY POLICY, TERMS ETC"
    },
    {
      "type": "text",
      "id": "text_footer_subbottom",
      "label": "Web Site Signature",
      "default": "2024 Your Company Name"
    },
    {
      "type": "text",
      "id": "subbottom_footer_title_one_id",
      "label": "Add Title Footer",
      "default": "Edit me",
      "info": "Privacy Policy"
    },
    {
      "type": "url",
      "id": "subbottom_footer_title_one_url_id",
      "label": "URL"
    },
    {
      "type": "text",
      "id": "subbottom_footer_title_two_id",
      "label": "Add Title Footer",
      "default": "Edit me",
      "info": "Ex: Terms & Conditions"
    },
    {
      "type": "url",
      "id": "subbottom_footer_title_two_url_id",
      "label": "URL"
    },
    {
      "type": "text",
      "id": "subbottom_footer_title_three_id",
      "label": "Add Title Footer",
      "default": "Edit me",
      "info": "Ex: Terms & Conditions"
    },
    {
      "type": "url",
      "id": "subbottom_footer_title_three_url_id",
      "label": "URL"
    }
  ],
  "blocks": [
   {
    "name": "Form Info",
    "type": "form_info",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "footer_text",
        "label": "Add Your Title Here",
        "placeholder": "Join our Global...",
        "default": "Join us"
      },
      {
        "type": "textarea",
        "id": "footer_description",
        "label": "Add Your Description",
        "placeholder": "Your Description here",
        "default": "Lorem lorem lorem lorem"
      }
    ]
   },
   {
    "name": "Footer Nav",
    "type": "footer_nav",
    "limit": 4,
    "settings": [
      {
        "type": "text",
        "id": "footer_nav_heading",
        "label": "Footer Nav Heading",
        "default": "Nav Title"
      },
      {
        "type": "header",
        "content": "SUB MENU ONE"
      },
      {
        "type": "text",
        "id": "footer_sub_menu_one_id",
        "label": "Footer Sub Menu One",
        "default": "Lorem One"
      },
      {
        "type": "url",
        "id": "footer_sub_menu_url_one_id",
        "label": "Footer Sub Menu URL One",
        "info": "https://shopify.com"
      },
      {
        "type": "header",
        "content": "SUB MENU TWO"
      },
      {
        "type": "text",
        "id": "footer_sub_menu_two_id",
        "label": "Footer Sub Menu two",
        "default": "Lorem Two"
      },
      {
        "type": "url",
        "id": "footer_sub_menu_url_two_id",
        "label": "Footer Sub Menu URL Two",
        "info": "https://shopify.com"
      },
      {
        "type": "header",
        "content": "SUB MENU THREE"
      },
      {
        "type": "text",
        "id": "footer_sub_menu_three_id",
        "label": "Footer Sub Menu Three",
        "default": "Lorem three"
      },
      {
        "type": "url",
        "id": "footer_sub_menu_url_three_id",
        "label": "Footer Sub Menu URL Three",
        "info": "https://shopify.com"
      },
      {
        "type": "header",
        "content": "SUB MENU FOUR"
      },
      {
        "type": "text",
        "id": "footer_sub_menu_four_id",
        "label": "Footer Sub Menu four",
        "default": "Lorem four"
      },
      {
        "type": "url",
        "id": "footer_sub_menu_url_four_id",
        "label": "Footer Sub Menu URL four",
        "info": "https://shopify.com"
      },
      {
        "type": "header",
        "content": "SUB MENU FIVE"
      },
      {
        "type": "text",
        "id": "footer_sub_menu_five_id",
        "label": "Footer Sub Menu Five",
        "default": "Lorem five"
      },
      {
        "type": "url",
        "id": "footer_sub_menu_url_five_id",
        "label": "Footer Sub Menu URL Five",
        "info": "https://shopify.com"
      }
    ]
   },
   {
    "name": "Footer Icons",
    "limit": 6,
    "type": "footer_icons",
    "settings": [
      {
        "type": "text",
        "id": "footer_icons_text_id",
        "label": "Add The Name Of The Icon",
        "placeholder": "Facebook",
        "info": "Name of Icons ex: Facebook, Tiktok, Instagram, Twitter, LinkedIn, Pinterrest"
      },
      {
        "type": "url",
        "id": "footer_icons_id",
        "label": "Icon URL",
        "info": "https://facebook.com"
      }
    ]
   }
  ]
}
{% endschema %}
