<section style="background: {{ section.setttings.image_card_bg_color_id }};" class="w-full h-fit mb-10 {{ section.settings.image_card_section_padding_id }}">
    <div class="container mx-auto h-fit flex justify-center items-center flex-col gap-4 lg:flex-row">
        {% if section.blocks != blank %}
            {% for card in section.blocks %}
                {% case card.type %}
                    {% when "image_card" %}
                        <img class="w-[300px] h-[370px] sm:w-1/2 lg:h-[500px] xl:h-[700px] mx-auto border object-cover object-center rounded-2xl" src="{% if card.settings.image_card_img_id %}
                            {{ card.settings.image_card_img_id |  image_url: width:full  }}
                            {% else %}
                            {{ 'collection-1.svg' |  asset_url  }}
                        {% endif %}" alt="">
                    {% when "card_text" %}
                        <div class="w-[300px] h-[370px] flex flex-col justify-center items-center gap-8 rounded-2xl lg:h-[500px] xl:h-[700px] sm:w-1/2 mx-auto border">
                            <h3 style="color: {{ card.settings.card_right_text_color_id }};" class="text-2xl text-center font-semibold text-black w-full lg:text-4xl lg:my-0 xl:p-5">
                                {{ card.settings.card_right_text_id }}
                            </h3>
                            <p style="color: {{ card.settings.card_right_textarea_color_id }};" class="text-center text-gray-500 px-4">
                                {{ card.settings.card_right_textarea_id }}
                            </p>
                            <button style="background: {{ card.settings.card_right_bg-button_id }}; color: {{ card.settings.card_right_color_button_text_id }};" class="py-2 px-4 rounded-lg">
                                <a href="{{ card.settings.card_right_button_url_id }}">
                                    {{ card.settings.card_right_button_text_id }}
                                </a>
                            </button>
                        </div>   
                {% endcase %}
            {% endfor %}
            {% else %}
            <img class="w-[300px] h-[370px] sm:w-1/2 lg:h-[500px] xl:h-[700px] mx-auto border object-cover object-center rounded-2xl" src="{% if section.settings.choose_image_id %}
                {{ section.settings.choose_image_id |  image_url: width:full  }}
                {% else %}
                {{ 'collection-1.svg' |  asset_url  }}
            {% endif %}" alt="">
            <div class="w-[300px] h-[370px] flex flex-col justify-center items-center gap-8 rounded-2xl lg:h-[500px] xl:h-[700px] sm:w-1/2 mx-auto border">
                <h3 class="text-2xl text-center font-semibold text-black w-full lg:text-4xl lg:my-0 xl:p-5">
                    {{ section.settings.choose_title_id }}
                </h3>
                <p class="text-center text-gray-500 px-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, est! Maiores labore cumque tempore delectus, ipsum sapiente officia distinctio, quis commodi ullam rem! Laboriosam eaque dolorem perspiciatis dolores quaerat? Iste.
                </p>
                <button class="bg-black text-white py-2 px-4 rounded-lg">
                    <a href="#">
                        Contact Us
                    </a>
                </button>
            </div>
        {% endif %}
    </div>
</section>

{% schema %}
{
    "name": "Image Cards",
    "settings": [
        {
            "type": "color_background",
            "id": "image_card_bg_color_id",
            "label": "Background Color",
            "default": "#ffffff"
        },
        {
            "type": "select",
            "id": "image_card_section_padding_id",
            "label": "Inner Space",
            "options": [
                {
                    "value": "py-0",
                    "label": "none"
                },
                {
                    "value": "py-5",
                    "label": "20px"
                },
                {
                    "value": "py-10",
                    "label": "40px"
                }
            ],
            "default": "py-0"
        }
    ],
    "blocks": [
        {
            "name": "card Left",
            "type": "image_card",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "Image Card"
                },
               {
                    "type": "image_picker",
                    "id": "image_card_img_id",
                    "label": "Image Card"
               }               
            ]
        },
        {
            "name": "Card Right",
            "type": "card_text",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "card_right_text_id",
                    "label": "Text Card",
                    "default": "Card Text"
                },
                {
                    "type": "color",
                    "id": "card_right_text_color_id",
                    "label": "Text Color",
                    "default": "#000000"
                },
                {
                    "type": "textarea",
                    "id": "card_right_textarea_id",
                    "label": "Description Card",
                    "default": "I am a description card. Please Fill me"
                },
                {
                    "type": "color",
                    "id": "card_right_textarea_color_id",
                    "label": "Description Color",
                    "default": "#000000"
                },
                {
                    "type": "text",
                    "id": "card_right_button_text_id",
                    "label": "Button Text",
                    "default": "Show me"
                },
                {
                    "type": "url",
                    "id": "card_right_button_url_id",
                    "label": "Button URL"
                },
                {
                    "type": "color",
                    "id": "card_right_bg-button_id",
                    "label": "Backgroung Button",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "card_right_color_button_text_id",
                    "label": "Color Button",
                    "default": "#ffffff"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Cards"
        }
    ]
}
{% endschema %}