<section style="background: {{ section.settings.info_card_bg_section_id }};" class="w-full h-full bg-gray-100 mb-5 {{ section.settings.info_card_bg_section_padding_id }}">
    <div class="container mx-auto h-fit flex justify-start items-center gap-4 overflow-x-scroll">
        {% if section.blocks != blank %}
            {% for card in section.blocks %}
                {% case card.type %}
                    {% when "cards" %}         
                    <div class="min-w-[300px] rounded-2xl border lg:min-w-0 lg:w-full">
                        <img class="block w-full h-full max-h-[300px] xl:max-h-[500px] rounded-t-2xl object-cover object-center" src="{%- if card.settings.info_card_image_id -%} {{ card.settings.info_card_image_id | image_url: width:300 }} {%- else -%} {{ 'collection-2.svg' |  asset_url }} {%- endif -%}" alt="">
                        <div style="background-color: {{ card.settings.info_card_color_background_id }};" class="max-h-[200px] flex justify-center items-center flex-col rounded-b-2xl p-4">
                            <h3 style="color: {{ card.settings.info_card_text_color_id }};" class="text-xl font-semibold text-center my-1">
                                {{ card.settings.info_card_text_id }}
                            </h3>
                            <p style="color: {{ card.settings.info_card_description_color_id }};" class="text-base font-normal text-center mb-3 px-1">
                                {{ card.settings.info_card_description_id }}
                            </p>
                            <button style="background-color: {{ card.settings.info_card_button_bg_color_id }}; color:{{ card.settings.info_card_button_text_color_id }}; {%- if card.settings.info_card_button_enable_border_color_id -%}
                                border: 1px solid {{ card.settings.info_card_button_border_color_id }}
                            {%- endif -%}" class="py-2 px-4 rounded-lg">                
                                <a href="#">
                                {{ card.settings.info_card_button_text_id }}
                                </a>
                            </button>
                        </div>
                    </div>
                {% endcase %}
            {% endfor %}
            {% else %}
            {% assign itemCardNames = "collection-1.svg, collection-2.svg" |  split: "," %}
            {% for itemCardName in itemCardNames %}
                <div class="min-w-[300px] rounded-2xl border lg:min-w-0 lg:w-full">
                    <img class="block w-full h-full max-h-[300px] xl:max-h-[500px] rounded-2xl object-cover object-center" src="{{ itemCardName |  asset_url }}" alt="{{ itemCardName }}">
                    <div style="background-color: black;" class="max-h-[200px] flex justify-center items-center flex-col rounded-b-2xl p-4">
                        <h3 class="text-xl text-white font-semibold text-center my-1">
                            Here is the Title
                        </h3>
                        <p class="text-base text-white font-normal text-center mb-3 px-1">
                            Here is the Description
                        </p>
                        <button class="py-2 px-4 rounded-lg bg-white text-black">                
                            <a href="#">
                            Click me
                            </a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% schema %}
{
    "name": "Info Cards",
    "settings": [
        {
            "type": "color_background",
            "id": "info_card_bg_section_id",
            "default": "#ffffff",
            "label": "Backgroung Color"
        },
        {
            "type": "select",
            "id": "info_card_bg_section_padding_id",
            "label": "Inner Space",
            "options": [
                {
                    "value": "py-0",
                    "label": "none"
                },
                {
                    "value": "py-5",
                    "label": "20px"
                },
                {
                    "value": "py-10",
                    "label": "40px"
                }
            ],
            "default": "py-0"
        }
    ],
    "blocks": [
        {
            "name": "Card",
            "limit": 3,
            "type": "cards",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "info_card_image_id",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "info_card_text_id",
                    "label": "Your Title",
                    "default": "Here is The Title"
                },
                {
                    "type": "color",
                    "id": "info_card_text_color_id",
                    "label": "Title Color",
                    "default": "#ffffff"
                },
                {
                    "type": "inline_richtext",
                    "id": "info_card_description_id",
                    "label": "Description",
                    "default": "<span>This is Your first Description. take case of it!</span>"
                },
                {
                    "type": "color",
                    "id": "info_card_color_background_id",
                    "label": "Description Box Color",
                    "default": "#D3D3D3"
                },
                {
                    "type": "color",
                    "id": "info_card_description_color_id",
                    "label": "Description Color",
                    "default": "#ffffff"
                },
                {
                    "type": "text",
                    "id": "info_card_button_text_id",
                    "label": "Button Title",
                    "default": "Show now"
                },
                {
                    "type": "color",
                    "id": "info_card_button_bg_color_id",
                    "label": "Button Background Color",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "info_card_button_text_color_id",
                    "label": "Button Text Color",
                    "default": "#ffffff"
                },
                {
                    "type": "checkbox",
                    "id": "info_card_button_enable_border_color_id",
                    "label": "Enable Border?",
                    "default": false
                },
                {
                    "type": "color",
                    "id": "info_card_button_border_color_id",
                    "label": "Button border Color",
                    "default": "#000000",
                    "info": "This option works only if you checked the enable border."
                }
            ]            
        }
    ],
    "presets": [
        {
            "name": "Info Cards"
        }
    ]
}
{% endschema %}
