<section class="two-collums-all w-full h-fit {{ section.settings.two_collums_padding_section_id }} ">
    <div class="container mx-auto h-fit flex gap-5 flex-col justify-center items-center md:flex-row mb-10">
        {% if section.blocks.size != 0 %}
            {% for block_collection in section.blocks %}
               {% case block_collection.type %}
                {% when "collection_block" %}
                <div class="{% if section.settings.two_collums_rounded_id %} rounded-{{ section.settings.two_collums_rounded_id }} border {% endif %}  relative min-w-[100px] sm:w-[450px] md:w-full xl:h-[550px]">
                    <img class="w-full h-full object-cover object-center rounded-{{ section.settings.two_collums_rounded_id }}" src="{% if block_collection.settings.two_collums_image_id %} {{ block_collection.settings.two_collums_image_id |  image_url: width:master  }} {% else %} {{ 'collection-1.svg' |  asset_url }} {% endif %}" alt=""> 
                    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center">
                        <h3 style="color: {{ block_collection.settings.two_collums_title_color_id }};" class="text-2xl lg:text-[40px] text-center font-semibold mb-1">
                            {{ block_collection.settings.two_collums_title_id }}
                        </h3>
                        <p style="color: {{ block_collection.settings.two_collums_description_color_id }};" class="text-base lg:text-xl text-center font-thin mb-1">
                            {{ block_collection.settings.two_collums_first_description_id }}                                
                        </p>
                        <button style="background: {{ block_collection.settings.two_collums_btntext_bg_id }}; color: {{ block_collection.settings.two_collums_btntext_color_id }}" class="two-collums-block-btn mb-2 py-2 px-4 rounded-xl">
                            <a class="section" href="#">
                                {{ block_collection.settings.two_collums_btntext_id }}
                            </a>
                        </button>
                    </div>
                </div>                    
               {% endcase %}
            {% endfor %}
            {% else %}
            <div class="rounded-xl border relative min-w-[100px] sm:w-[450px] md:w-full xl:h-[550px]">
                <img class="w-full h-full object-cover object-center" src="{{ 'collection-1.svg' |  asset_url }}" alt=""> 
                <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center">
                    <h3 class="text-2xl text-black lg:text-[40px] text-center font-semibold mb-1">
                        Title
                    </h3>
                    <p class="text-base text-gray-500 lg:text-xl text-center font-thin mb-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing.                                
                    </p>
                    <button class="two-collums-block-btn mb-2 py-2 px-4 rounded-xl text-white bg-black">
                        <a class="section" href="#">
                            Show Me
                        </a>
                    </button>
                </div>
            </div>   
        {% endif %}  
    </div>
</section>
        
<style>
    .two-collums-all{
        /* two_collums_first_image_id */
        background: {{ section.settings.two_collums_color_background_id }};
    }
</style>

{% schema %}
{
    "name": "Two collums",
    "settings": [
        {
            "type": "header",
            "content": "Two Collums section settings"
        },
        {
            "type": "color_background",
            "id": "two_collums_color_background_id",
            "label": "Background Color",
            "default": "#ffffff"
        },
        {
            "type": "select",
            "id": "two_collums_padding_section_id",
            "label": "Add Padding",
            "options": [
                {
                    "value": "py-0",
                    "label": "none"
                },
                {
                    "value": "py-5",
                    "label": "20px"
                },
                {
                    "value": "py-10",
                    "label": "40px"
                }
            ], 
            "default": "py-0"
        },
        {
            "type": "header",
            "content": "Round Images",
            "info": "Choose how to round your images"
        },
        {
            "type": "select",
            "id": "two_collums_rounded_id",
            "label": "Shadow",
            "options": [
                {
                "value": "none",
                "label": "No rounded"
                },
                {
                "value": "sm",
                "label": "Shadow Small"
                },
                {
                "value": "md",
                "label": "Shadow Medium"
                },
                {
                "value": "lg",
                "label": "Shadow Large"
                },
                {
                "value": "xl",
                "label": "Shadow Extra Large"
                },
                {
                "value": "2xl",
                "label": "Shadow 2x Extra Large"
                }
            ],
            "default": "none"
        }       
    ],
    "blocks": [
        {
            "name": "Collection Block",
            "type": "collection_block",
            "limit": 3,
            "settings": [
                {
                    "type": "header",
                    "content": "Two Collums Section",
                    "info": "Add background color Here"
                },
                {
                    "type": "color_background",
                    "id": "two_collums_color_background_id",
                    "label": "Add Section Background Color",
                    "default": "linear-gradient(#ffffff, #000000)"
                },
                {
                    "type": "header",
                    "content": "Block"
                },
                {
                    "type": "image_picker",
                    "id": "two_collums_image_id",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "two_collums_title_id",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    "type": "color",
                    "id": "two_collums_title_color_id",
                    "label": "Title Color",
                    "default": "#000000"
                },
                {
                    "type": "inline_richtext",
                    "id": "two_collums_first_description_id",
                    "label": "Description",
                    "default": "<span>Lorem ipsum dolor sit amet consectetur!</span>"
                },
                {
                    "type": "color",
                    "id": "two_collums_description_color_id",
                    "label": "Description Color",
                    "default": "#000000"
                },
                {
                    "type": "text",
                    "id": "two_collums_btntext_id",
                    "label": "Button Text",
                    "default": "Show now"
                },
                {
                    "type": "color",
                    "id": "two_collums_btntext_color_id",
                    "label": "Button Title Color",
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "two_collums_btntext_bg_id",
                    "label": "Buton Background Color",
                    "default": "#000000"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Two Collums"
        }
    ]
}
{% endschema %}